# Machine Learning Para Economistas

In [1]:
### Python como calculadora:

14 + 3

17

In [2]:
## Las expresiones pueden contener variables: (con el operador 'igual')
edad = 12
23 + edad

35

In [3]:
## Los resultados de las operaciones también pueden ser variables:
t_edades = 35 + edad
t_edades

47

## Tipos de valores:

In [4]:
type(23)

int

In [18]:
type(edad)

int

In [19]:
type(12.5)

float

In [20]:
type("Juan")

str

In [24]:
type(True)

bool

## Aritmética

Exponenciación

In [27]:
3**4

81

División

In [28]:
2/3

0.6666666666666666

In [40]:
## Floor Division : Parte entera
30//4

7

In [41]:
## Residuo Division
29%2

1

Reglas de orden de operadores:
1. Primero se evalúan las expresiones con paréntesis. Si hay paréntesis anidados, de adentro hacia afuera
2. Luego se resuelven operaciones de exponenciación. Si hay múltiples, de izquierda a derecha
3. A continuación se calcula la multiplicación, división y módulo. Si hay múltiples, de izquierda a derecha
4. Finalmente se evalúan sumas y restas. Si hay múltiples, de izquierda a derecha

## Strings

In [36]:
# Comillas dobles 
print("Hola mundo")

Hola mundo

In [37]:
# Comillas simples 
print('Hola mundo')

Hola mundo

In [45]:
## Nueva línea
print('Hola\nMundo')

Hola
Mundo

In [46]:
## tab
print("Hola\tMundo")

Hola	Mundo

In [48]:
## Ejemplo
print("Yo tengo", edad, "años.")

Yo tengo 12 años.

In [55]:
## Comillas Triples
print("""
infinefinfeinifinfe
feinfeinfeiinfmdmdmdme
ffnamaf
fminfifneifeinfefeonf
feofmomf
""")

infinefinfeinifinfe
feinfeinfeiinfmdmdmdme
ffnamaf
fminfifneifeinfefeonf
feofmomf

## Booleanos

In [58]:
## True es igual a 1
True + True

2

In [60]:
## False es igual a 0
False + False

0

In [61]:
## Mayor que
5>3

True

In [62]:
## Menor que
5<3

False

In [63]:
## Menor o igual
5<=2

False

In [64]:
## Mayor o igual
5>=2

True

In [65]:
## Igual
5==3

False

In [66]:
## Diferente
5!=3

True

In [77]:
## Ejercicio: Operadores AND y OR

A=False
B=True

print("Cuando A es", A, "y B es", B, ":")
print("El resultado del operador AND es", A and B)
print("El resultado del operador OR es", A or B)

Cuando A es False y B es True :
El resultado del operador AND es False
El resultado del operador OR es True

In [80]:
A and B or A

False



## Estructuras de Control

### Algoritmos

1. Las acciones a ejecutar 
2. El orden para ejecutar esas acciones

### Con base en selección

In [91]:
########
## if ##
########
nota=4

if nota>=3:
    print("Pasaste a materia")
    
if nota<3:
    print("Perdiste la materia")

Pasaste a materia

In [90]:
#############
## if else ##
#############
if nota>=3:
    print("Pasaste a materia")
else: 
    print("Perdiste la materia")

Pasaste a materia

In [96]:
################
## if else if ##
################
nota=2
if nota>=4:
    print("Felicitaciones, excelente resultado")
elif nota>=3: 
    print("Pasaste la materia la materia")
else:
    print("Perdiste la materia")

Perdiste la materia

In [106]:
##################
## Múltiples if ##
##################
nota=5
if nota>=3:
    print("Pasaste la materia la materia")
    if nota==5:
        print("Felicitaciones, excelente resultado")
    elif nota>=4: 
        print("Ya casi llegas al 5, ánimo!")
    else: 
        print("Puedes mejorar los resultados")
else:
    print("Perdiste la materia")

Pasaste la materia la materia
Felicitaciones, excelente resultado

### Con base en repetición

#### **For**

In [110]:
# Ejemplo for - string
nombre = "Juan"
for letra in nombre:
    print(letra)

J
u
a
n

In [121]:
print(nombre.upper()) #pasar un string a mayúscula
print(nombre.lower()) #pasar un string a minúscula

JUAN
juan

In [120]:
nombre = "Juan"
for letra in nombre:
    print(letra.upper())

J
U
A
N

In [130]:
# Ejemplo for - lista
numeros = [1,2,3,4,5,6,7,8,9,10]
for i in numeros:
    print("El cuadrado de", i, "es", i**2)

El cuadrado de 1 es 1
El cuadrado de 2 es 4
El cuadrado de 3 es 9
El cuadrado de 4 es 16
El cuadrado de 5 es 25
El cuadrado de 6 es 36
El cuadrado de 7 es 49
El cuadrado de 8 es 64
El cuadrado de 9 es 81
El cuadrado de 10 es 100

In [134]:
for i in numeros:
    print(i**3, end=",")

1,8,27,64,125,216,343,512,729,1000,

In [142]:
## Ejemplo 2 - Combinar if y for
notas=[1.5,2.5,4.0,4.5,3.7,3.9]
for i in notas:
    if i>=3:
        print("Sacaste", i,"Pasaste la materia la materia")
        if i==5:
            print("Felicitaciones, excelente resultado")
        elif i>=4: 
            print("Ya casi llegas al 5, ánimo!")
        else: 
            print("Puedes mejorar los resultados")
    else:
        print("Sacaste", i, "Perdiste la materia")

Sacaste 1.5 Perdiste la materia
Sacaste 2.5 Perdiste la materia
Sacaste 4.0 Pasaste la materia la materia
Ya casi llegas al 5, ánimo!
Sacaste 4.5 Pasaste la materia la materia
Ya casi llegas al 5, ánimo!
Sacaste 3.7 Pasaste la materia la materia
Puedes mejorar los resultados
Sacaste 3.9 Pasaste la materia la materia
Puedes mejorar los resultados

In [146]:
## Ejemplo for - Dos listas 
notas=[1.5,2.5,4.0,4.5,3.7,3.9]
nombres=["Camilo","Andrea","Santiago","Paula","Juan","Carolina"]
for i,j in zip(notas,nombres):
    print(j, "sacó", i)

Camilo sacó 1.5
Andrea sacó 2.5
Santiago sacó 4.0
Paula sacó 4.5
Juan sacó 3.7
Carolina sacó 3.9

In [149]:
notas=[1.5,2.5,4.0,4.5,3.7,3.9]
nombres=["Camilo","Andrea","Santiago","Paula","Juan","Carolina"]
for i,j in zip(notas,nombres):
    if i>=4:
        print("Felicitaciones", j, "sacaste", i)
    elif i>=3:
        print(nombre, "pasaste la materia con", i)
    else:
        print(nombre, "perdiste la materia con", i)

Juan perdiste la materia con 1.5
Juan perdiste la materia con 2.5
Felicitaciones Santiago sacaste 4.0
Felicitaciones Paula sacaste 4.5
Juan pasaste la materia con 3.7
Juan pasaste la materia con 3.9

In [5]:
## for dentro de un for (for anidado <- nested for)
n_multiplicacion=[1,2,3,4,5]
for i in n_multiplicacion:
    for j in n_multiplicacion:
        print("El resultado de multiplicar", i, "y", j,"es", i*j)

El resultado de multiplicar 1 y 1 es 1
El resultado de multiplicar 1 y 2 es 2
El resultado de multiplicar 1 y 3 es 3
El resultado de multiplicar 1 y 4 es 4
El resultado de multiplicar 1 y 5 es 5
El resultado de multiplicar 2 y 1 es 2
El resultado de multiplicar 2 y 2 es 4
El resultado de multiplicar 2 y 3 es 6
El resultado de multiplicar 2 y 4 es 8
El resultado de multiplicar 2 y 5 es 10
El resultado de multiplicar 3 y 1 es 3
El resultado de multiplicar 3 y 2 es 6
El resultado de multiplicar 3 y 3 es 9
El resultado de multiplicar 3 y 4 es 12
El resultado de multiplicar 3 y 5 es 15
El resultado de multiplicar 4 y 1 es 4
El resultado de multiplicar 4 y 2 es 8
El resultado de multiplicar 4 y 3 es 12
El resultado de multiplicar 4 y 4 es 16
El resultado de multiplicar 4 y 5 es 20
El resultado de multiplicar 5 y 1 es 5
El resultado de multiplicar 5 y 2 es 10
El resultado de multiplicar 5 y 3 es 15
El resultado de multiplicar 5 y 4 es 20
El resultado de multiplicar 5 y 5 es 25

### ADELANTAR

In [11]:
lista_conjunto=[1,2,2,2,3,5,7,9]
lista_conjunto_2=set(lista_conjunto)
lista_conjunto_2

{1, 2, 3, 5, 7, 9}

In [6]:
1 in lista_conjunto

True

In [8]:
11 not in lista_conjunto

True

In [13]:
lista_conjunto_2.add(11)
lista_conjunto_2

{1, 2, 3, 5, 7, 9, 11}

In [ ]:
# Métodos útiles para los diccionarios
lista_conjunto.add('Elemento a añadir')

lista_conjunto.discard('Elemento a eliminar')
lista_conjunto.remove('Elemnto a eliminar')

lista_conjunto.clear()

lista_conjunto.union(otro_conjunto)
lista_conjunto.intersection(otro_conjunto)
lista_conjunto.issuperset(otro_conjunto)
lista_conjunto.issubset(otro_conjunto)
lista_conjunto.isdisjoint(otro_conjunto)

## Comprenhension
### List comprenhension

In [ ]:
# Estructura
[expresion for item in iterable if condicion]

In [17]:
# Ejemplo 1: Primera mayúscula, el resto en minúscula
nombres=["CAMILO", "ANDREA", "SANTIAGO", "PAULA"]
nombres_formato=[]

for i in nombres:
    nombres_formato.append(i.capitalize())
print(nombres_formato)

['Camilo', 'Andrea', 'Santiago', 'Paula']

In [19]:
# Ejemplo 1: Con List Comprenhension
nombres_formato_nueva=[i.capitalize() for i in nombres]
nombres_formato_nueva

['Camilo', 'Andrea', 'Santiago', 'Paula']

In [28]:
# list(range(0,x-1,"saltos"))  #Lista de números enteros de 0 a x-1

# Ejemplo 2: Números pares
rango_numeros=range(21)
pares=[]
for i in rango_numeros:
    if i%2==0:
        pares.append(i)
pares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
# Ejemplo 2: Con List Comprenhension
rango_numeros=range(21)
pares=[i for i in rango_numeros if i%2==0]
pares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Dictionary Comprenhensions

In [ ]:
# Estructura
{key:value for item in lista_item if condicion}

In [39]:
# Ejemplo 1:

nombres=["Camilo","Andrea","Santiago","Paula"]
notas=[{3.5,4.3},{2.8,3.4},{4.5,5.0},{3.1,4.3}]
dicc_notas={}

for i,j in zip(nombres,notas):
    dicc_notas[i]=j
dicc_notas

{'Camilo': {3.5, 4.3},
 'Andrea': {2.8, 3.4},
 'Santiago': {4.5, 5.0},
 'Paula': {3.1, 4.3}}

In [38]:
# Ejemplo 1: Con Dictionary Comprehensions
nombres=["Camilo","Andrea","Santiago","Paula"]
notas=[{3.5,4.3},{2.8,3.4},{4.5,5.0},{3.1,4.3}]
dicc_notas={i:j for i,j in zip(nombres,notas)}
dicc_notas

{'Camilo': {3.5, 4.3},
 'Andrea': {2.8, 3.4},
 'Santiago': {4.5, 5.0},
 'Paula': {3.1, 4.3}}

## Generators - Generadores

In [57]:
generador_pares=(i for i in rango_numeros if i%2==0)
generador_pares

## Filter

In [46]:
# Estructura básica: FUNCIONA CON BOOLEANO
numeros=[10,3,7,1,9,4,2,8,5,6]

def es_impar(i):
    """Devuelve un booleano dependiendo si el número es impar o no"""
    return i%2!=0

In [49]:
es_impar(4)

False

In [50]:
es_impar(3)

True

In [51]:
# Evaluación - lazy <- No lo ejecuta si no se llama
filter(es_impar,numeros)

In [58]:
list(filter(es_impar,numeros))

[3, 7, 1, 9, 5]

In [60]:
# Usando funciones lamnda
list(filter(lambda i: i % 2!=0,numeros))

[3, 7, 1, 9, 5]

In [63]:
# Filtrar los números mayores a 5
numeros=[10,3,7,1,9,4,2,8,5,6]

def mayorque_cinco(i):
    return i>5

list(filter(mayorque_cinco,numeros))

[10, 7, 9, 8, 6]

## Map

In [62]:
import math

# Estructura básica: FUNCIONA CON UNA TRANSFORMACIÓN
numeros=[10,3,7,1,9,4,2,8,5,6]
list(map(lambda i:math.sqrt(i),numeros))

[3.1622776601683795,
 1.7320508075688772,
 2.6457513110645907,
 1.0,
 3.0,
 2.0,
 1.4142135623730951,
 2.8284271247461903,
 2.23606797749979,
 2.449489742783178]

## Multidimensionalidad

In [64]:
# Tablas <- Listas de listas

md=[[1,3,5,8],
   [2,7,8,3],
   [4,8,0,1]]

In [67]:
# Extracción de elementos 

md[1][1] #Recordar que los ínidices van desde 0

7

In [74]:
for i in md:
    for j in i:
        print(j, end=" ")
    print()

1 3 5 8
2 7 8 3
4 8 0 1